@import '../../utils/styles/colors';

.Menu {
    display: flex;
    justify-content: flex-end;
  
    .Menu__button {
      background-color: $highlight;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 5px;
      z-index: 4;
      font-weight: bold;
      cursor: pointer;
    }
  
    .Menu__content {
      display: none;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      position: fixed;
      left: 0;
      top: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;
      font-size: 3rem;
      width: 100%;
      height: 100vh;
      z-index: 3;
      backdrop-filter: blur(0.625rem);

      a {
        transition: color 0.3s linear;

        &:hover {
          color: $accent;
        }
      }
    }
  }
  