@import '../../utils/styles/colors';

.Title {
    font-size: 2.5rem;
    color: $white; 
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
 }