@import '../../utils/styles/colors';
@import '../../utils/styles/breakpoints';

.Title {
    font-size: 2rem;
    color: $white; 
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    font-weight: bold;
    width: fit-content;
    text-align: left;
    overflow: hidden;
    margin-bottom: 50px;

    &.noWrapped {
        white-space: nowrap;
        margin-bottom: 0;
        font-size: 1.8rem;

        @include respond-to(md) {
            line-height: 4rem;
            font-size: 3rem;
        }
    }
 }