@import '../../utils/styles/colors';

.Title {
    font-size: 2rem;
    color: $white; 
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    font-weight: bold;
    width: fit-content;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
 }