.Skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

}

.skill {
    text-align: center;
    margin: 0 40px 20px 0;
    opacity: 0;
    transform: translateX(30px);
}

img {
    width: 50px;
    object-fit: contain;
}
