@import '../../utils/styles/breakpoints';

.Contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .Image {
        display: none;

        @include respond-to(sm) {
            display: block;
            width: 400px;
            border-radius: 50%;
        }
    }
}

.Contact__info {
    width: 100%;
    flex-basis: 100%;

    @include respond-to(sm) {
        flex-basis: 50%
    }
}

.Contact__socials {
    display: flex;
    margin-top: 50px;
}

  