@import '../../utils/styles/breakpoints';

.Section {
    width: fit-content;
    display: flex;
    align-items: center;
    min-height: 100vh;

    @include respond-to(md) {
        padding: 50px;
    }
}