@import './utils/styles/breakpoints';

.App__introduction {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include respond-to(lg) {
        justify-content: space-evenly;
    }
}

.Skills__section {
    align-items: flex-start;
}

.Portfolio__image {
    max-width: 800px;
    border-radius: 25px;
    overflow: hidden;
    opacity: 0.7;
    flex-basis: 100%;
}