@import './utils/styles/colors';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  font-family: "Google Sans", ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  cursor: none;
}

#root {
  overflow: hidden;
  min-height: 100Vh;
  padding: 20px;
  background-color: $background-color;
  color: $primary-color;
}

a {
  text-decoration: none;
  color: $white;

  &:visited {
    color: inherit;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}