@import '../../utils/styles/colors';

.ProgressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background-color: $accent;
    transition: width 0.3s ease;
    z-index: 1000;
  }
  