@import '../../styles/colors';

.Cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: $white; 
    border-radius: 50%;
    pointer-events: none;
    opacity: 0.5;
    z-index: 5;

  }
  
  .Cursor__trail {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: $highlight2;
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
  }